# Directories #
################################################################################
bin

# Files #
################################################################################
*.o
*.exe