# Directories #
################################################################################

# Files #
################################################################################
*.o
*.d
*.exe